<template>
  <nav class="navbar navbar-light bg-light">  
      <a class="navbar-brand title-" href="#">Path Finder</a>
      
        <div>
          <b-form-select v-model="selectedAlgorithm" @change="clearPath()">
            <option v-for="option in options" :value="option.value" :key="option.value">
                {{ option.text }}
            </option>
          </b-form-select>
        </div>
        <div class="nav-item">
          <button class="btn btn-outline-primary" :disabled="!selectedAlgorithm" v-on:click="triggerSearch">Vizualize</button>
        </div>
        <div class="nav-item">
          <button class="btn btn-outline-secondary" v-on:click="clearCanvas()">Clear Canvas</button>
        </div>
        <div class="nav-item">
          <button class="btn btn-outline-secondary" v-on:click="generateMaze()">Generate Maze</button>
        </div>
      
 
  </nav>
</template>

<script>

export default {
    data() {
        return {
          selectedAlgorithm : 0,
          options: [
              {text: '-- Select an algorithm --', value: 0},
              {text: 'DFS', value: 1},
              {text: 'BFS', value: 2},
              {text: 'A*', value: 3},
              {text: 'Dijsktra', value: 4},
          ],
        }
    },
    methods: {
      triggerSearch() {
        console.log(this.selectedAlgorithm)
        switch (this.selectedAlgorithm) {
            case 1:
                this.$emit('execute-dfs');
                break;
            case 2:
                  this.$emit('execute-bfs')
                break;
            case 3:
                  this.$emit('execute-astar')  
                  break;  
            case 4:
                  console.log("here!")
                  this.$emit('execute-dijsktra')
                  break;
            default:
                break;
        }
      },
      clearCanvas() {
        this.$emit('clear-canvas')
      },
      clearPath() {
        this.$emit('clear-path')
      },
      generateMaze() {
        this.$emit('generate-maze')
      }
    }
}
</script>

<style scoped>
  
.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  background-color:floralwhite;
  text-align: center;
}

</style>