
<template>
    <div>
        <div class="board">
            <div v-for="(n, i) in width" v-bind:key="i">
                <div v-for="(n, j) in height" v-bind:key="i+j">
                    <span :class="board[i][j]" :id="i + '-' + j" @mouseover="registerWall(i,j)"/>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
    import Queue from '@/Queue.js'
    import PQueue from '@/PQueue.js'
    export default {
        created(){
            this.target = [this.width-2, 15],
            this.board = this.createBoard('unvisited');
            this.board[this.start[0]][this.start[1]] = 'start'
            this.board[this.target[0]][this.target[1]] = 'target'
        },
        data() { 
            return {
                width: Math.floor(Math.abs(screen.width / 14)),
                height: 35,
                board: [],
                start: [1, 15],
                target: [this.width, 15],
                isAnimationRunning: false,
                isCanvasClear: true,
            } 
        },
        methods: {
            getClass (i,j) {
                return this.board[i][j];
            },
            registerWall(i,j) {
                if (this.isAnimationRunning)
                    return false;
                this.addElement(i,j,'wall');
                return true;
            },
            createBoard(element) {
                var matrix = [];
                for (var i = 0; i <= this.width; i++) {
                    matrix.push([]);
                    for (var j = 0; j <= this.height; j++) {
                        matrix[i].push(element);
                    }
                }
                return matrix;
            },
            addElement(i,j,element) {
                if (i === this.start[0] && j === this.start[1] ||
                    i === this.target[0] && j === this.target[1] ) {
                    return false;
                }
                this.board[i][j] = element;
                document.getElementById(i+'-'+j).className = element;
                return true;    
            },
            animate(count, i, j, element, speed) {
                setTimeout(() => {
                    document.getElementById(i+'-'+j).className = element
                },  count*speed);
            },
            clearCanvas() {
                this.isAnimationRunning = false;
                
                let count = 0;
                for (var i = 0; i <= this.width; i++) {
                    for (var j = 0; j <= this.height; j++) {
                        this.board[i][j] = 'unvisited'
                        this.animate(count, i, j, 'unvisited', 0);
                    }
                }
                this.board[this.start[0]][this.start[1]] = 'start'
                this.board[this.target[0]][this.target[1]] = 'target'

                this.animate(count, this.start[0], this.start[1], 'start',0);
                this.animate(count, this.target[0], this.target[1], 'target',0);
                this.isCanvasClear = true;
                console.log('cleared canvas!')
            },
            clearPath() {
                this.isAnimationRunning = false;
                
                let count = 0;
                for (var i = 0; i <= this.width; i++) {
                    for (var j = 0; j <= this.height; j++) {
                        if (this.board[i][j] =='visited') {
                            this.board[i][j] = 'unvisited'
                            this.animate(count, i, j, 'unvisited', 0);
                        }
                    }
                }
                this.animate(count, this.start[0], this.start[1], 'start',0);
                this.animate(count, this.target[0], this.target[1], 'target',0);
                this.isCanvasClear = true;
            },
            BFS() {
                this.isAnimationRunning = true;
                var adjancency = [-1,0,1]
                var count = 1;
                var newi;
                var newj;
                var queue = new Queue();
                queue.push(this.start)
                
                while (!queue.isEmpty()) {  
                    var node = queue.front();
                    queue.pop();
                    
                    if (!(node[0] === this.start[0] && node[1] === this.start[1])) {
                        this.animate(count,node[0],node[1], 'visited', 5);
                        count++;
                    }

                    for (var i = 0; i < adjancency.length; i++) {
                        for (var j = 0; j < adjancency.length; j++) {
                            
                            newi = node[0] + adjancency[i];
                            newj = node[1] + adjancency[j];
                            console.log([newi,newj])
                            if (newi >= this.width || 
                                newi < 0 || 
                                newj >= this.height ||
                                newj < 0 ||
                                this.board[newi][newj] == 'visited' ||
                                this.board[newi][newj] == 'wall' ||
                                Math.abs(adjancency[i] == Math.abs(adjancency[j]))) {
                                
                                continue;
                            }

                            this.board[newi][newj] = 'visited';
                            queue.push([newi,newj])

                            if (newi === this.target[0] && newj === this.target[1]) {
                                this.isCanvasClear = false;
                                return true;
                            }                         
                        }
                    }
                }
            },
            DFS() {
                this.isAnimationRunning = true;
                var adjancency = [-1,0,1]
                var count = 1;
                var newi;
                var newj;
                var stack = []
                stack.push(this.start)
                
                while (!stack.length == 0) {  
                    var node = stack.pop()
                    this.board[node[0]][node[1]] = 'visited';
                    
                    if (!(node[0] === this.start[0] && node[1] === this.start[1])) {
                        this.animate(count,node[0],node[1], 'visited', 25);
                        count++;
                    }
                    
                    for (var i = 0; i < adjancency.length; i++) {
                        for (var j = 0; j < adjancency.length; j++) {
                            
                            newi = node[0] + adjancency[i];
                            newj = node[1] + adjancency[j];
                            
                            if (newi >= this.width || 
                                newi < 0 || 
                                newj >= this.height ||
                                newj < 0 ||
                                this.board[newi][newj] == 'visited' ||
                                this.board[newi][newj] == 'wall' ||
                                Math.abs(adjancency[i] == Math.abs(adjancency[j]))) {
                                continue;
                            }

                            stack.push([newi,newj])

                            if (newi === this.target[0] && newj === this.target[1]) {
                                this.isCanvasClear = false;
                                return true;
                            }                         
                        }
                    }
                }
            },
            dijkstra() {
                this.isAnimationRunning = true;
                let adjancency = [-1,0,1]
                let count = 1;
                let newi;
                let newj;
                let pqueue = new PQueue();
                pqueue.push(this.start,1);            
                this.board[this.start[0]][this.start[1]] = 'visited';
                let distances =  this.createBoard(Infinity);
                distances[this.start[0]][this.start[1]] = 0;
                
                while (!pqueue.isEmpty()) {
                    let node = pqueue.front().element;
                    let weight = pqueue.front().priority;
                    pqueue.pop();

                    for (var i = 0; i < adjancency.length; i++) {
                        for (var j = 0; j < adjancency.length; j++) {
                            
                            newi = node[0] + adjancency[i];
                            newj = node[1] + adjancency[j];
                            
                            if (newi >= this.width || 
                                newi < 0 || 
                                newj >= this.height ||
                                newj < 0 ||
                                this.board[newi][newj] == 'wall' ||
                                this.board[newi][newj] == 'visited' ||
                                Math.abs(adjancency[i] == Math.abs(adjancency[j]))) {
                                continue;
                            }
                            
                            if (node[0] === this.target[0] && node[1] === this.target[1]) {      
                                this.isCanvasClear = false;
                                return true;
                            }

                            if (distances[newi][newj] > distances[node[0]][node[1]] + weight) {
                                distances[newi][newj] = distances[node[0]][node[1]] + weight;
                                pqueue.push([newi,newj],distances[newi][newj])
                                this.board[newi][newj] = 'visited';
                                
                                if (newi == this.target[0] && newj == this.target[1])
                                    continue;
                                
                                this.animate(count,newi,newj, 'visited', 5);   
                                count++;
                            }
                        }
                    }
                }

            },
            aStar(){
                this.isAnimationRunning = true;
                let adjancency = [-1,0,1]
                let count = 1;
                let newi;
                let newj;
                let pqueue = new PQueue();
                pqueue.push(this.start,1);            
                this.board[this.start[0]][this.start[1]] = 'visited';
                let distances =  this.createBoard(1);
                distances[this.start[0]][this.start[1]] = 0;
                while (!pqueue.isEmpty()) {
                    let node = pqueue.front().element;
                    let weight = pqueue.front().priority;
                    pqueue.pop();

                    for (var i = 0; i < adjancency.length; i++) {
                        for (var j = 0; j < adjancency.length; j++) {
                            
                            newi = node[0] + adjancency[i];
                            newj = node[1] + adjancency[j];
                            
                            if (newi >= this.width || 
                                newi < 0 || 
                                newj >= this.height ||
                                newj < 0 ||
                                this.board[newi][newj] == 'wall' ||
                                this.board[newi][newj] == 'visited' ||
                                Math.abs(adjancency[i] == Math.abs(adjancency[j]))) {
                                continue;
                            }
                            
                            if (node[0] === this.target[0] && node[1] === this.target[1]) {      
                                this.isCanvasClear = false;
                                return true;
                            }


                            distances[newi][newj] = distances[node[0]][node[1]] + weight;
                            distances[newi][newj] = Math.abs (newi - this.target[0]) + Math.abs (newj - this.target[1]) 
                            pqueue.push([newi,newj],distances[newi][newj])
                            this.board[newi][newj] = 'visited';
                            
                            if (newi == this.target[0] && newj == this.target[1])
                                continue;
                            this.animate(count,newi,newj, 'visited', 10);   
                            count++;
                            
                        }
                    }
                }
            },
            generateMaze(){
                var x,y;
                for (var i = 0; i < this.width*10 ; i++)
                {
                    x = this.getRandomInt(0,this.width)
                    y = this.getRandomInt(0,this.height)
                    
                    if (x == this.target[0] && y == this.target[1])
                        continue;
                    
                    if (x == this.start[0] && y == this.start[1])
                        continue;

                    if (x+1 < this.width && this.board[x+1][y] == 'wall' &&
                        y+1 < this.height && this.board[x][y+1] == 'wall' &&
                        x-1 > 0 && this.board[x-1][y] == 'wall'&&
                        y-1 > 0 && this.board[x][y-1] == 'wall')
                        {
                            continue;
                        } 

                    this.board[x][y] = 'wall';
                    this.animate(i,x,y, 'wall', 3);
                }
            },
            getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min)) + min;
            }
        },
    } 
</script>

<style scoped>

    .board {
        max-width: 100%;
        display: flex;
        flex-wrap: inherit;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    

      @keyframes unvisitedAnimation {
        from {
            transform: scale(0.1);
             background-color: yellow;
        }
        to {
            transform: scale(1);
            background-color: white;
        }
    }
    @media (min-width: 2px) and (min-height: 14px) {
        .unvisited {
            max-height: 14px;
            width: 14px;
            height: 14px;
            border: 0.001px solid rgb(175, 216, 248);
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
        }
    }

    .start {
        max-width: 100%;
        max-width: 14px;
        max-height: 14px;
        width: 14px;
        height: 14px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(129, 246, 135);
        background-repeat: no-repeat;
        background-size: auto;    
    }
    .target {
        max-width: 100%;
        max-width: 14px;
        max-height: 14px;
        width: 14px;
        height: 14px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(248, 125, 94);
        background-repeat: no-repeat;
        background-size: auto;    
    }
    .unvisited:hover{
        background-color: black;
    }
    @keyframes wallAnimation {
        from {
            transform: scale(0.1);
             background-color: white;
        }
        to {
            transform: scale(1);
            background-color: black;
        }
    }

    .wall {
        max-width: 100%;
        max-width: 14px;
        max-height: 14px;
        width: 14px;
        height: 14px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        animation-name: wallAnimation;
        animation-duration: .2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }

    @keyframes visitedAnimation {
        from {
            transform: scale(0.1);
             background-color: rgb(158, 8, 245);
        }
        to {
            transform: scale(1);
            background-color: rgb(116, 213, 226);
        }
    }

    .visited {
        max-width: 100%;
        max-height: 14px;
        width: 14px;
        height: 14px;
        border: 0.001px solid rgb(175, 216, 248);
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-name: visitedAnimation;
        animation-duration: .6s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
</style>

