<template>
  <div id="app">
    <AppHeader @execute-bfs ='bfs()' @execute-dfs ='dfs()' @execute-astar ='astar()' 
               @execute-dijsktra ='dijkstra()' @clear-canvas ='clearCanvas()' 
               @clear-path='clearPath()' @generate-maze='generateMaze()'/>
    <Board  ref="board"/>
  </div>
</template>

<script>
import AppHeader from './components/AppHeader.vue'
import Board  from './components/Board.vue'

export default {
  name: 'App',
  components: {
    AppHeader,
    Board,
  },
  methods: {
    bfs() {
      this.$refs.board.BFS();
    },
    dfs() {
      this.$refs.board.DFS();
    },
    dijkstra() {
      this.$refs.board.dijkstra();
    },
    astar() {
      this.$refs.board.aStar();
    },
    clearPath() {
      this.$refs.board.clearPath();
    },
    clearCanvas() {
      this.$refs.board.clearCanvas();
    },
    generateMaze() {
      this.$refs.board.generateMaze();
    }
  }
}
</script>

<style>
.html, body {
  height: 100%;
  min-height: 100%;
}
.app {
  height: 100%;
  width: auto;
  position: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: inherit;
  color: #010c18;
  margin-top: 0px;
  background-color:white;

}
.instructions {
  position: center;
}
</style>
